<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:posts, :index) %></li>
      <li><%= link_to pat(:new), url(:posts, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:posts) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:posts, :id) %></th>
          <th><%= mat(:posts, :title) %></th>
          <th><%= mat(:posts, :content) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @posts.each do |posts| %>
        <tr>
          <td class="first"><%= posts.id %></td>
          <td><%= posts.title %></td>
          <td><%= posts.content %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:posts, :edit, :id => posts.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:posts, :destroy, :id => posts.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>